.hero {
  max-width:1200px;
  margin:auto;
  padding:90px 20px;
  display:grid;
  grid-template-columns:1.2fr 1fr;
  gap:50px;
  align-items:center;
}

.hero h1 {
  font-size:48px;
  line-height:1.1;
}

.hero p {
  margin:20px 0;
  color:var(--muted);
  font-size:18px;
}

.hero-visual {
  height:380px;
  background:#11162a;
  border-radius:18px;
  display:flex;
  align-items:center;
  justify-content:center;
  color:var(--muted);
}

